@media (max-width: 1900px) {

    .slider-item {
        max-width: 95%;
    }
}
@media (max-width: 1650px) and (min-width:1156px) {
    
    .nannies-slides {
        max-width: 1156px !important;
    }
}

@media (max-width: 1620px) {

    header {
        padding-left: 20px;
        padding-right: 20px;
    }

    .banner-blocks {
        padding: 0 20px;
    }

    .cta-contacts-socials {
        display: none;
    }

    .slider-item {
        max-width: 95%;
    }

    .about-bg-blue {
        padding-left: 20px;
        padding-right: 20px;
    }

    .faq-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .contacts-wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer-bg {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (min-width: 1340px) {
    .cta-block:nth-child(2) {
        width: 755px;
    }
}

@media (max-width: 1340px) {

    h1,
    .h1 {
        font-size: 34px;
    }

    .banner-block-inner {
        padding: 10px 20px;
    }

    .banner-description {
        margin: 18px 13px 0;
    }

}

@media (max-width: 1200px) {
    .cta-blocks {
        flex-wrap: wrap;
        justify-content: center;
    }

    .cta-block:nth-child(1) {
        order: 2;
    }

    .cta-block:nth-child(2) {
        order: 1;
        max-width: 100%;
        width: 755px;
    }

    .cta-block:nth-child(3) {
        order: 2;
    }

    .cta-block-inner {
        width: 100%;
        max-width: 100%;
    }

    .cases-img img {
        width: 120px;
    }

    .about-bg-blue {
        min-height: auto;
    }

    .about-inner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .about-inner .h1 {
        text-align: center;
    }

    .about-img {
        margin-top: -50px;
    }

}

@media (max-width: 1100px) {
    .guarantee-blocks {
        margin-top: 70px;
        flex-direction: column-reverse;
        gap: 10px;
    }

    .guarantee-block {
        max-width: 100%;
    }

    .guarantee-block img {
        border-radius: 10px;
    }

    .guarantee-block.red-block {
        max-width: 100%;
        border-radius: 10px;
        padding: 48px 13px 34px;
    }

    .guarantee-block-inner {
        text-align: center;
        margin: 0 auto;
    }

    .guarantee-description {
        margin-top: 7px;
    }

    .footer-bg {
        margin: 29px 20px 0;
        background-color: initial;
        padding: 0 0 10px;
    }

    .footer-blocks {
        flex-wrap: wrap;
    }

    .footer-top-blocks .footer-block:nth-child(1) {
        width: 100%;
    }

    .footer-blocks .logo {
        margin: 0 auto;
    }

    .footer-top-blocks .footer-block:nth-child(2) {
        width: 50%;
        order: 1;
        justify-content: flex-start;
        margin-top: 22px;
        padding-left: 18px;
        box-sizing: border-box;
    }

    nav.footer-nav {
        display: block;
    }

    .footer-top-blocks .footer-block:nth-child(3) {
        width: 100%;
        margin-top: 30px;
        align-items: center;
    }

    .footer-top-blocks .footer-block:nth-child(4) {
        width: 50%;
        order: 1;
        margin-top: 26px;
        padding-right: 13px;
        box-sizing: border-box;
    }

    .footer-socials {
        flex-direction: column;
    }

    .footer-devider {
        margin: 26px 18px 14px;
    }

    .copyright-blocks .footer-block {
        display: none;
    }

    .copyright-blocks .footer-block:nth-child(2) {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 12px;
    }

    .footer-mobile-buttons {
        display: flex;
    }

    .footer-mobile-button {
        display: flex;
        width: 50%;
        height: 68px;
        justify-content: center;
        align-items: center;
        color: var(--light);
        text-transform: uppercase;
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
    }

    .footer-mobile-button.red {
        background-color: var(--red);
    }

    .footer-mobile-button.dark-blue {
        background-color: var(--dark-blue);
    }
}

@media (max-width: 890px) {

    .label {
        display: none;
    }

    nav.main-nav {
        display: none;
    }

    .overlay.shown {
        position: fixed;
        display: flex;
        padding-top: 50px;
        overflow-y: auto;
        inset: 0;
        background-color: rgba(41, 41, 41, 0.6);
        transition: opacity 300ms ease-in-out;
        z-index: 2;
    }

    .burger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 6px;
        width: 30px;
        cursor: pointer;
        height: fit-content;
        margin-top: 12px;
        z-index: 9999;
    }

    .burger .line {
        width: 30px;
        height: 3px;
        background-color: var(--red);
        transition: transform 0.5s;
    }

    .burger .line:nth-child(2) {
        width: 25px;
    }

    .burger.opened {
        width: 30px;
        height: 30px;
        background-image: url('../img/close.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: 0.5s ease-out;
    }

    .burger.opened .line {
        display: none;
    }

    .menu-right {
        position: fixed;
        top: 0;
        right: -100%;
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 100vh;
        box-sizing: border-box;
        background-color: var(--light);
        z-index: 999;
        overflow-y: auto;
    }

    .menu-right.opened {
        display: flex;
        right: 0;
        flex-direction: column;
        justify-content: space-between;
    }

    @keyframes showNav {
        from {
            right: -100%;
        }

        to {
            right: 0;
        }
    }

    .show-nav {
        animation: showNav 0.5s ease forwards;
    }

    @keyframes hideNav {
        from {
            right: 0;
        }

        to {
            right: -100%;
        }
    }

    .hide-nav {
        animation: hideNav 0.5s ease forwards;
    }

    .header-container .menu-right nav {
        display: block;
    }

    ul.nav-menu {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 90px;
        margin-left: 33px;
    }

    ul.nav-menu li {
        display: block;
    }

    ul.nav-menu li a {
        color: inherit;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
    }

    .menu-right .menu-contacts {
        text-align: center;
    }

    .menu-right .main-phone a {
        font-size: 20px;
        font-weight: 500;
    }

    .menu-right .main-email a {
        font-size: 20px;
        font-weight: 500;
    }

    .menu-right .contacts-socials {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 32px;
        margin-bottom: 56px;
    }

    .menu-right .contacts-socials .icon {
        width: 36px;
        height: 36px;
        margin: 0;
    }

    .banner-blocks {
        margin-top: 23px;
        flex-direction: column;
        gap: 14px;
    }

    .banner-block {
        max-width: 100%;
    }

    .banner-block.blue-block {
        border-radius: 10px;
        padding: 0;
    }

    .banner-block-inner {
        max-width: 100%;
        margin-top: 40px;
        padding: 2px;
    }

    .banner-block-inner h1 {
        text-align: center;
        margin: 0 13px;
    }

    .banner-description {
        font-size: 16px;
        text-align: center;
    }

    .banner-block-inner .button {
        background-color: var(--dark-blue);
    }

    .button-block {
        margin-top: 26px;
        text-align: center;
    }

    .banner-block-img {
        border-radius: 10px;
    }

    .faq-container {
        margin-top: 70px;
    }

    .faq-h1 {
        text-align: center;
    }

    .faq-questions {
        margin-top: 20px;
        gap: 19px;
        flex-direction: column;
    }

    .faq-block {
        max-width: 100%;
    }

    .faq-question {
        padding: 26px 13px;
        background-color: #F4F4F4;
    }

    .faq-number {
        display: none;
    }

    .contacts-wrapper {
        margin: 70px 20px 0;
        border-radius: 10px;
        padding: 52px 14px 35px;
    }

    .contacts-top-title {
        text-align: center;
    }

    .contacts-top-description {
        display: block;
        margin: 18px 0 37px;
    }

    .contacts-top-img {
        display: none;
    }

    .contacts-form {
        margin-top: 37px;
    }

    .form-inputs {
        grid-template-columns: repeat(1, 1fr);
        gap: 9px;
    }

    .contacts-form .form-button {
        margin-top: 15px;
        flex-direction: column;
    }

    .form-agreement {
        max-width: 100%;
        font-size: 12px;
        line-height: 110%;
    }

    .contacts-form .form-button .button {
        margin-top: 19px;
    }



}

@media (max-width: 768px) {

    h1,
    .h1 {
        font-size: 20px;
    }

    h2,
    .h2 {
        font-size: 20px;
    }

    header,
    main {
        max-width: 100%;
    }

    header {
        padding-top: 28px;
    }

    footer {
        max-width: 100%;
        margin: 0;
    }

    .button {
        width: 100%;
    }

    .logo {
        max-width: 160px;
    }

    .figure-bg.right-figure {
        background-position: right 38%;
    }

    .cta-blocks {
        max-width: 340px;
        margin: 65px auto 0;
        flex-wrap: wrap;
        gap: 9px;
    }

    .cta-block:nth-child(1) {
        order: 2;
        flex: 1;
        max-width: 200px;
    }

    .cta-block:nth-child(2) {
        order: 1;
        width: 100%;
        padding: 48px 13px 45px;
        border-radius: 10px;
    }

    .cta-block:nth-child(3) {
        order: 2;
        flex: 1;
        max-width: 131px;
    }

    .cta-h2 {
        text-align: center;
    }

    .cta-description {
        margin-top: 18px;
        text-align: center
    }

    .cta-button-block {
        display: none;
    }

    .cases-container {
        margin-top: 17px;
        padding: 0 20px;
    }

    .cases-top-container {
        padding-left: 0;
        margin-top: 0;
    }

    .slider-navigation.cases-navigation {
        display: none;
    }

    .cases-slider {
        margin-top: 35px;
        padding: 0;
        max-width: 400px;
    }

    .cases-slider .slide {
        min-width: 100%;
    }

    .slider-item {
        max-width: 100%;
        border-radius: 10px;
        min-height: 273px;
        padding: 23px 0 0;
    }

    .cases-slider-top {
        padding: 0 13px;
    }

    .cases-title {
        font-size: 20px;
    }

    .cases-body {
        padding: 0 13px;
        font-size: 14px;
    }

    .cases-footer {
        gap: 0;
    }

    .cases-feature {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cases-feature.red {
        background-color: var(--red);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding: 9px 0;
    }

    .cases-feature.dark-blue {
        background-color: var(--dark-blue);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .cases-feature-title {
        font-weight: 500;
        font-size: 14px;
    }

    .cases-feature.red .cases-feature-title,
    .cases-feature.dark-blue .cases-feature-title {
        background-color: initial;
    }

    .cases-feature-text {
        font-size: 16px;
        margin-top: 0;
        color: var(--light);
    }

    .about-bg-blue {
        margin-top: 70px;
        padding: 0;
        background-color: initial;
        min-height: auto;
    }

    .about-inner {
        margin-top: 0;
        display: block;
    }

    .about-inner .h1 {
        text-align: center;
    }

    .about-features {
        margin-top: 27px;
        grid-template-columns: repeat(1, 1fr);
        gap: 13px;
        max-width: 305px;
        margin: 27px auto 27px;
    }

    .about-feature {
        width: 100%;
        gap: 12px;
    }

    .about-feature:nth-child(2n) {
        order: 1;
    }

    .about-img {
        margin-top: 31px;
        padding: 0 20px;
    }

    .about-container {
        height: 253px;
        overflow: hidden;
        position: relative;
        margin: 0 auto;
    }

    .about-img img {
        border-radius: 10px;
        height: 100%;
        width: auto;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        object-fit: cover;
    }

    .nannies-slider {
        padding: 0;
        margin-top: 105px;
    }

    .nannies-slider-item img {
        border-radius: 10px;
    }

    .guarantee-blocks {
        padding: 0 20px;
    }

    .faq-arrow {
        width: 22px;
        height: 22px;
        background-size: 100% 100%;
    }

    .contacts-form input {
        height: 70px;
    }

    .modal-container {
        width: 100%;
        padding: 70px 20px;
    }

    .modal-close {
        top: 15px;
        right: 15px;
    }

    .modal-form {
        margin-top: 30px;
        gap: 15px;
    }

    .form-input input {
        height: 48px;
    }

    .form-checked label {
        display: block;
    }

}

@media (min-width: 380px) and (max-width: 400px) {
    .nannies-slider-item img {
        max-width: 340px;
    }
}
