@font-face {
    font-family: 'Manrope';
    src: url("../font/Manrope/Manrope-VariableFont_wght.ttf");
}

@font-face {
    font-family: 'Prata';
    src: url("../font/Prata/Prata-Regular.ttf");
}

:root {
    --dark: #000000;
    --semi-dark: #373A36;
    --main: #333333;
    --grey: #E6E8ED;
    --blue: #CBDBEB;
    --dark-blue: #3D4D87;
    --red: #C14D4D;
    --dark-red: #AA3535;
    --light: #FFFFFF;
    --manrope: 'Manrope', Arial, Helvetica, sans-serif;
    --prata: 'Prata', Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--manrope);
    color: var(--main);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

body.ohidden {
    overflow: hidden;
    margin-right: 17px;
}

h1,
.h1 {
    margin: 0;
    color: var(--dark);
    font-family: var(--prata);
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 140%;
}

h2,
.h2 {
    margin: 0;
    color: var(--dark);
    font-family: var(--prata);
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 120%;
}

img {
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

header,
main,
footer {
    max-width: 1903px;
    margin: 0 auto;
    box-sizing: border-box;
}

.container {
    max-width: 1531px;
    margin: 0 auto;
    box-sizing: border-box;
}

.button-block {
    margin-top: 32px;
}

.button {
    min-width: 290px;
    border: none;
    height: 68px;
    border-radius: 10px;
    background-color: var(--red);
    color: var(--light);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    font-family: var(--manrope);
}

.button:hover {
    background-color: var(--dark-red);
}

.button-white {
    background-color: var(--light);
    color: var(--main);
}

.button-white:hover {
    background-color: var(--light);
    color: var(--dark-red);
}

.label {
    min-width: 135px;
    height: 38px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.slider-navigation {
    display: flex;
    gap: 20px;
    width: fit-content;
}

.slider-nav {
    width: 17px;
    height: 25px;
    background-size: 100% 100%;
    cursor: pointer;
}

.slider-nav.left {
    background-image: url('../img/ar-left.svg');
}

.slider-nav.right {
    background-image: url('../img/ar-right.svg');
}


.figure-bg.right-figure {
    background-image: url('../img/right-figure.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 170px;
}

.figure-bg.left-figure {
    background-image: url('../img/left-figure.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 180px;
}

/***** HEADER *****/

header {
    padding-top: 32px;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.logo {
    max-width: 290px;
}

nav.main-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav.main-nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    text-transform: uppercase;
}

nav.main-nav ul li a {
    color: var(--main);
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    text-decoration: none;
}

nav.main-nav ul li a:hover {
    text-decoration: underline;
}

.burger {
    display: none;
}

.menu-right {
    display: none;
}

/***** BANNER *****/

.banner-blocks {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.banner-block {
    flex: 1;
    max-width: 50%;
    box-sizing: border-box;
}

.banner-block.blue-block {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    border-radius: 30px;
}

.banner-block-img {
    border-radius: 30px;
}

.banner-block-inner {
    max-width: 610px;
}

.banner-description {
    margin-top: 120px;
    font-size: 20px;
}

/***** CTA *****/

#cta {
    position: relative;
}

.cta-blocks {
    display: flex;
    gap: 19px;
    margin-top: 90px;
}

.cta-block img {
    border-radius: 30px;
    height: 100%;
}

.cta-block:nth-child(1) {
    max-width: 445px;
}

.cta-block:nth-child(2) {
    max-width: 755px;
    padding: 63px 38px;
    background-color: var(--red);
    color: var(--light);
    border-radius: 30px;
    box-sizing: border-box;
}

.cta-block:nth-child(3) {
    max-width: 290px;
}

.cta-h2 {
    color: var(--light);
}

.cta-block-inner {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.cta-description {
    line-height: 22px;
}

.cta-button-block {
    margin-top: 38px;
}

.cta-contacts-socials {
    position: absolute;
    top: 3px;
    right: 31px;
}

.contacts-socials a {
    display: block;
}

.contacts-socials .icon {
    width: 50px;
    height: 50px;
    margin: 17px;
    cursor: pointer;
    background-size: 100% 100%;
}

.contacts-socials .icon.whatsapp {
    background-image: url('../img/whatsapp.svg');
}

.contacts-socials .icon.telegram {
    background-image: url('../img/telegram.svg');
}

.contacts-socials .icon.vk {
    background-image: url('../img/vk.svg');
}

/***** CASES *****/

.cases-container {
    margin-top: 90px;
}

.cases-top-container {
    padding-left: 62px;
}

.cases-top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.cases-top .h2 {
    margin-top: 53px;
}

.slider-navigation.cases-navigation {}

.cases-slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 85px auto 0;
    padding: 0 32px;
    box-sizing: border-box;
}

.cases-slider .slides {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.cases-slider .slide {
    min-width: calc(100% / 4);
    box-sizing: border-box;
}

.slider-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 445px;
    min-height: 395px;
    background-color: var(--grey);
    border-radius: 30px;
    padding: 24px 17px;
    box-sizing: border-box;
}

.cases-slider-top {
    display: flex;
    justify-content: space-between;
}

.cases-title {
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.cases-description {
    margin-top: 2px;
    text-transform: uppercase;
    font-size: 14px;
}

.cases-img img {
    width: 190px;
    border-radius: 10px;
}

.cases-footer {
    display: flex;
    gap: 13px;
}

.cases-feature {
    flex: 1;
    max-width: 50%;
    box-sizing: border-box;
}

.cases-feature-title {
    color: var(--light);
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
}

.cases-feature-title.red {
    background-color: var(--red);
}

.cases-feature-title.dark-blue {
    background-color: var(--dark-blue);
}

.cases-feature-text {
    margin-top: 12px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

/***** ABOUT *****/

.about-bg-blue {
    margin-top: 66px;
    background-color: var(--blue);
    border-radius: 30px;
    padding-top: 53px;
    box-sizing: border-box;
    padding-bottom: 115px;
    min-height: 833px;
}

.about-bg-blue .label {
    border: 1px solid var(--main);
}

.about-inner {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.about-inner .h1 {
    max-width: 760px;
}

.about-features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 39px 17px;
}

.about-feature {
    width: 290px;
    height: 113px;
    border: 1px dotted var(--main);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.about-feature-count {
    font-size: 48px;
    font-weight: 500;
}

.about-feature-text {
    width: min-content;
}

.about-img {
    margin-top: -300px;
}

.about-img img {
    border-radius: 30px;
}


/***** FOOTER *****/



/***** MODAL *****/

.modal {
    position: fixed;
    display: flex;
    background-color: rgba(64, 63, 61, 0.8);
    visibility: hidden;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    z-index: 9;
    overflow-y: auto;
    inset: 0;
}

.modal-container {
    position: relative;
    width: 400px;
    margin: auto;
    padding: 30px;
    background-color: var(--dark);
    border-radius: 10px;
    max-width: 100%;
    box-sizing: border-box;
}

.modal-close {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 30px;
    height: 30px;
    background-image: url('../img/close.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    transition: 0.5s ease-out;
}

.modal-inner {
    margin-top: 2rem;
}

.modal-close:hover {
    opacity: 0.7;
}


/***** FORM *****/

.form-input {
    margin-bottom: 1rem;
}

.form-input input,
.form-input textarea {
    font-family: var(--open-sans);
    width: 100%;
    border: 1px solid var(--gold);
    background: transparent;
    padding: 10px 5px;
    border-radius: 5px;
    color: var(--light);
    font-size: 16px;
    box-sizing: border-box;
}


.form-input input::placeholder,
.form-input textarea::placeholder {
    font-family: var(--open-sans);
    font-size: 14px;
    color: var(--light);
}

.form-input input::-webkit-input-placeholder,
.form-input textarea::-webkit-input-placeholder {
    font-family: var(--open-sans);
    font-size: 14px;
    color: var(--light);
}

.form-input input:-ms-input-placeholder,
.form-input textarea:-ms-input-placeholder {
    font-family: var(--open-sans);
    font-size: 14px;
    color: var(--light);
}

.form-input input::-ms-input-placeholder,
.form-input textarea::-ms-input-placeholder {
    font-family: var(--open-sans);
    font-size: 14px;
    color: var(--light);
}

.form-input input:focus-visible,
.form-input textarea:focus-visible {
    outline: none;
}

.form-input input:focus,
.form-input textarea:focus {
    outline: 2px solid var(--gold);
}