@font-face {
    font-family: 'Manrope';
    src: url("../font/Manrope/Manrope-VariableFont_wght.ttf");
}

@font-face {
    font-family: 'Prata';
    src: url("../font/Prata/Prata-Regular.ttf");
}

:root {
    --dark: #000000;
    --semi-dark: #373A36;
    --main: #333333;
    --grey: #E6E8ED;
    --blue: #CBDBEB;
    --dark-blue: #3D4D87;
    --red: #C14D4D;
    --dark-red: #AA3535;
    --light: #FFFFFF;
    --manrope: 'Manrope', Arial, Helvetica, sans-serif;
    --prata: 'Prata', Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--manrope);
    color: var(--main);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

body.ohidden {
    overflow: hidden;
    margin-right: 17px;
}

h1,
.h1 {
    margin: 0;
    color: var(--dark);
    font-family: var(--prata);
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 140%;
}

h2,
.h2 {
    margin: 0;
    color: var(--dark);
    font-family: var(--prata);
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 120%;
}

img {
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

header,
main,
footer {
    max-width: 1903px;
    margin: 0 auto;
    box-sizing: border-box;
}

.container {
    max-width: 1531px;
    margin: 0 auto;
    box-sizing: border-box;
}

.button-block {
    margin-top: 32px;
}

.button {
    min-width: 290px;
    border: none;
    height: 68px;
    border-radius: 10px;
    background-color: var(--red);
    color: var(--light);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    font-family: var(--manrope);
}

.button:hover {
    background-color: var(--dark-red);
}

.button-white {
    background-color: var(--light);
    color: var(--main);
}

.button-white:hover {
    background-color: var(--light);
    color: var(--dark-red);
}

.label {
    min-width: 135px;
    height: 38px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.label-dark {
    border: 1px solid var(--main);
}

.slider-navigation {
    display: flex;
    gap: 20px;
    width: fit-content;
}

.slider-nav {
    width: 17px;
    height: 25px;
    background-size: 100% 100%;
    cursor: pointer;
}

.slider-nav.left {
    background-image: url('../img/ar-left.svg');
}

.slider-nav.right {
    background-image: url('../img/ar-right.svg');
}


.figure-bg.right-figure {
    background-image: url('../img/right-figure.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 170px;
}

.figure-bg.left-figure {
    background-image: url('../img/left-figure.png');
    background-repeat: no-repeat;
    background-position: -30px 300px;
    background-size: 180px 988px;
}

.main-phone a {
    font-size: 26px;
    color: var(--main);
    text-decoration: none;
}

.main-email {
    margin-top: 11px;
}

.main-email a {
    font-size: 24px;
    font-weight: lighter;
    color: var(--main);
    text-decoration: none;
}

/***** HEADER *****/

header {
    padding-top: 32px;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.logo {
    max-width: 290px;
}

nav.main-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav.main-nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    text-transform: uppercase;
}

nav.main-nav ul li a {
    color: var(--main);
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    text-decoration: none;
}

nav.main-nav ul li a:hover {
    text-decoration: underline;
}

.burger {
    display: none;
}

.menu-right {
    display: none;
}

/***** BANNER *****/

.banner-blocks {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.banner-block {
    flex: 1;
    max-width: 50%;
    box-sizing: border-box;
}

.banner-block.blue-block {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    border-radius: 30px;
}

.banner-block-img {
    border-radius: 30px;
}

.banner-block-inner {
    max-width: 610px;
}

.banner-description {
    margin-top: 120px;
    font-size: 20px;
}

/***** CTA *****/

#cta {
    position: relative;
}

.cta-blocks {
    display: flex;
    gap: 19px;
    max-width: fit-content;
    margin: 90px auto 0;
}

.cta-block img {
    border-radius: 30px;
    height: 100%;
}

.cta-block:nth-child(1) {
    max-width: 445px;
}

.cta-block:nth-child(2) {
    max-width: 755px;
    padding: 63px 38px;
    background-color: var(--red);
    color: var(--light);
    border-radius: 30px;
    box-sizing: border-box;
}

.cta-block:nth-child(3) {
    max-width: 290px;
}

.cta-h2 {
    color: var(--light);
}

.cta-block-inner {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.cta-description {
    line-height: 22px;
}

.cta-button-block {
    margin-top: 38px;
}

.cta-contacts-socials {
    position: absolute;
    top: 3px;
    right: 31px;
}

.contacts-socials a {
    display: block;
}

.contacts-socials .icon {
    width: 50px;
    height: 50px;
    margin: 17px;
    cursor: pointer;
    background-size: 100% 100%;
}

.contacts-socials .icon.whatsapp {
    background-image: url('../img/whatsapp.svg');
}

.contacts-socials .icon.telegram {
    background-image: url('../img/telegram.svg');
}

.contacts-socials .icon.vk {
    background-image: url('../img/vk.svg');
}

/***** CASES *****/

.cases-container {
    margin-top: 90px;
}

.cases-top-container {
    padding-left: 62px;
}

.cases-top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.cases-top .h2 {
    margin-top: 53px;
}

.cases-slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 85px auto 0;
    padding: 0 32px;
    box-sizing: border-box;
}


.slider-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 445px;
    min-height: 395px;
    background-color: var(--grey);
    border-radius: 30px;
    padding: 24px 17px;
    box-sizing: border-box;
}

.cases-slider-top {
    display: flex;
    justify-content: space-between;
}

.cases-title {
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.cases-description {
    margin-top: 2px;
    text-transform: uppercase;
    font-size: 14px;
}

.cases-img img {
    width: 190px;
    border-radius: 10px;
}

.cases-footer {
    display: flex;
    gap: 13px;
}

.cases-feature {
    flex: 1;
    max-width: 50%;
    box-sizing: border-box;
}

.cases-feature-title {
    color: var(--light);
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
}

.cases-feature.red .cases-feature-title {
    background-color: var(--red);
}

.cases-feature.dark-blue .cases-feature-title {
    background-color: var(--dark-blue);
}

.cases-feature-text {
    margin-top: 12px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

/***** ABOUT *****/

.about-bg-blue {
    margin-top: 66px;
    background-color: var(--blue);
    border-radius: 30px;
    padding-top: 53px;
    box-sizing: border-box;
    padding-bottom: 115px;
    min-height: 833px;
}

.about-inner {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.about-inner .h1 {
    max-width: 760px;
}

.about-features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 39px 17px;
}

.about-feature {
    width: 290px;
    height: 113px;
    border: 1px dotted var(--main);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.about-feature-count {
    font-size: 48px;
    font-weight: 500;
}

.about-feature-text {
    width: min-content;
    min-width: 100px;
}

.about-img {
    margin-top: -300px;
}

.about-img img {
    border-radius: 30px;
}

/***** NANNIES *****/

.nannies-slider {
    padding: 0 30px;
    margin-top: 93px;
}

.nannies-slider-item {
    padding: 0 11px;
}

.nannies-slider-item img {
    border-radius: 30px;
}

/***** GUARANTEE *****/

.guarantee-blocks {
    display: flex;
    gap: 24px;
    margin-top: 90px;
}

.guarantee-block {
    flex: 1;
    max-width: 50%;
    box-sizing: border-box;
}

.guarantee-block img {
    border-radius: 30px;
}

.guarantee-block.red-block {
    padding: 63px 39px;
    background-color: var(--red);
    color: var(--light);
    border-radius: 30px;
}

.guarantee-h2 {
    color: var(--light);
}

.guarantee-block-inner {
    max-width: 560px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.guarantee-description {
    line-height: 22px;
}

/***** FAQ *****/

.faq-container {
    margin-top: 90px;
}

.faq-h1 {
    margin-top: 53px;
}

.faq-questions {
    margin-top: 84px;
    display: flex;
    gap: 25px;
}

.faq-block {
    flex: 1;
    max-width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.faq-question {
    background-color: var(--grey);
    border-radius: 10px;
    padding: 25px 30px;
    cursor: pointer;
}

.faq-question-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.faq-number {
    width: 95px;
}

.faq-title {
    width: 100%;
}

.faq-arrow {
    width: 34px;
    height: 34px;
    background-image: url('../img/arrow.svg');
    background-size: 100% 100%;
}

.faq-question-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.faq-question-body.active {
    max-height: 1000px;
}

.faq-arrow.opened {
    background-image: url('../img/arrow-close.svg');
}

/***** CONTACTS *****/

.contacts-wrapper {
    margin-top: 90px;
    background-color: var(--blue);
    border-radius: 30px;
    padding: 53px 0 63px;
}

.contacts-top {
    display: flex;
    justify-content: space-between;
}

.contacts-top-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts-top-img {
    max-width: 600px;
}

.contacts-top-img img {
    border-radius: 30px;
}

.contacts-form {
    margin-top: 45px;
}

.form-inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 38px 22px;
}

.contacts-form input {
    height: 85px;
    border-radius: 10px;
    border: 1px dotted var(--main);
    background-color: transparent;
    padding: 0 27px;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--main);
}

/* .contacts-form input::placeholder {
    color: #838485;
}

.contacts-form input::-webkit-input-placeholder {
    color: #838485;
}

.contacts-form input::-moz-placeholder {
    color: #838485;
}

.contacts-form input:-ms-input-placeholder {
    color: #838485;
}

.contacts-form input::-ms-input-placeholder {
    color: #838485;
}
*/

.contacts-form input:focus-visible {
    outline: none;
}

.contacts-form input:focus {
    outline: 2px solid var(--gold);
}

.contacts-form .form-button {
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
}

.form-agreement {
    max-width: 50%;
}

/***** FOOTER *****/

.footer-bg {
    margin-top: 45px;
    background: var(--grey);
    border-radius: 30px;
    padding: 60px 0 27px;
}

.footer-blocks {
    display: flex;
    justify-content: space-between;
}

.footer-block {
    width: 25%;
    display: flex;
}

.footer-block:nth-child(2) {
    justify-content: center;
}

.footer-block:nth-child(3) {
    flex-direction: column;
    align-items: flex-end;
}

.footer-block:nth-child(4) {
    justify-content: flex-end;
}

nav.footer-nav {
    display: flex;
    gap: 76px;
}

nav.footer-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

nav.footer-nav ul li a {
    color: var(--main);
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
}

nav.footer-nav ul li a:hover {
    text-decoration: underline;
}

.footer-socials {
    display: flex;
    gap: 10px;
}

.footer-socials .icon {
    width: 38px;
    height: 38px;
    background-size: 100% 100%;
}

.footer-socials .icon.whatsapp {
    background-image: url('../img/whatsapp-round.svg');
}

.footer-socials .icon.telegram {
    background-image: url('../img/telegram-round.svg');
}

.footer-socials .icon.phone {
    background-image: url('../img/phone-round.svg');
}

.footer-devider {
    margin: 53px 32px 20px;
    border-top: 1px solid #CCCECE;
}

.copyright-blocks {
    color: #838485;
}

.copyright-blocks a {
    color: #838485;
    text-decoration: none;
}

.copyright-blocks a:hover {
    text-decoration: underline;
}

.footer-mobile-buttons {
    display: none;
}


/***** MODAL *****/

.modal {
    position: fixed;
    display: flex;
    background-color: rgba(64, 63, 61, 0.8);
    visibility: hidden;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    z-index: 9;
    overflow-y: auto;
    inset: 0;
}

.modal-container {
    position: relative;
    width: 786px;
    margin: auto;
    background-color: var(--blue);
    border-radius: 30px;
    max-width: 100%;
    box-sizing: border-box;
    padding: 112px 104px 111px;
}

.modal-close {
    position: absolute;
    top: 59px;
    right: 47px;
    width: 28px;
    height: 28px;
    background-image: url('../img/close.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    transition: 0.5s ease-out;
}

.modal-close:hover {
    opacity: 0.7;
}

.modal-inner .h2 {
    text-align: center;
}

.modal-form {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.form-input input {
    width: 100%;
    height: 72px;
    border-radius: 10px;
    border: none;
    padding: 0 31px;
    box-sizing: border-box;
    font-size: 16px;
    color: var(--main);
}

.modal-form .form-checked {
    margin-top: 15px;
}

.form-checked label a:hover {
    text-decoration: underline;
}

.form-checked input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;

}

.form-checked label {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding-left: 48px;
    font-size: 14px;
    font-weight: 500;
    color: var(--semi-dark);
}

.form-checked label a {
    font-size: 14px;
    font-weight: 500;
    color: var(--red);
    text-decoration: none;
}

.form-checked label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: var(--light);
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.form-checked input[type="checkbox"]:checked+label::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: var(--red);
    border-radius: 50%;
}

.modal-form .form-button {
    margin-top: 8px;
    text-align: center;
}